.cart-page{
    padding-top: 150px;
    padding-bottom: 150px;
}
.cart-page .cart-text{
    text-align: center;
    margin-bottom: 80px;
}
.cart-page .home-link{
    color: #000;
    position: relative;
    transition: .3s;
    padding: 10px 0px;
    text-decoration: none;
}
.cart-page .home-link::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #000;
    transition: .3s;
    left: 0;
    bottom: 0;
}
.cart-page .home-link:hover::after{
    width: 100%;
}
.cart-page .product-div{
    padding: 20px 0;
}
.cart-page .img-fluid{
    object-fit: contain;
    height: 200px;
    width:200px;
}
.cart-page .price-span{
    color: #777;
    margin-top: 20px;
}
.cart-page .fa-xmark{
    cursor: pointer;
    font-size: 20px;
}
.cart-page .number{
    width: 40px;
    border: 0px;
    text-align: center;
}
.cart-page .number:focus{
    outline: 0;
    border: 0;
}
.cart-page .quantaty-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.cart-page .quantaty-section .decrease, .cart-page .quantaty-section .increase{
    padding: 1px 8px;
    transition: .3s;
    border: 0px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-page .quantaty-section .decrease:hover, .cart-page .quantaty-section .increase:hover{
    background-color: #77777740;
    color: #000;
}
.cart-page .quantaty-section{
    border: 1px solid #777;
    border-radius: 3px;
    padding: 5px 0px;
}
.cart-page .top-products button{
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    transition: .3s;
    border: 0;
    outline: none;
}
.cart-page button:hover{
    opacity: .8;
}
.cart-page .check-out-link{
    padding: 10px 15px;
    display: block;
    background-color: #000;
    color: #fff;
    transition: .3s;
    border: 0;
    outline: none;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.cart-page .log-value{
    padding: 5px 10px;
    display: block;
    background-color: #000;
    color: #fff;
    transition: .3s;
    border: 0;
    outline: none;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}