.feature-section{
    background-color: #efefef;
    padding: 100px 0;
}
.feature-section .container img{
    width: 120px;
    object-fit: contain;
    height: 150px;
}
.feature-section .container h5{
    font-weight: bold;
    margin-top: 20px;
    color: #000;
}