.product-details-page{
    padding-top: 150px;
    min-height: calc(100vh - 61px);
}
.product-details-page .images-section{
    height: 454px;
}
.product-details-page span{
    font-size: 21px;
    color: #000;
}
.product-details-page .text-decoration-line-through{
    color: #777;
    margin-right: 20px;
}
.product-details-page .discount-number{
    padding: 0px 12px;
    margin-left: 20px;
    border-radius: 50px;
    text-align: center;
    color: red;
    border: 1px solid red;
}
.product-details-page .quantaty-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.product-details-page .quantaty-section .decrease, .product-details-page .quantaty-section .increase{
    padding: 1px 8px;
    transition: .3s;
    border: 0px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-details-page .quantaty-section .decrease:hover, .product-details-page .quantaty-section .increase:hover{
    background-color: #77777740;
    color: #000;
}
.product-details-page .quantaty-section{
    border: 1px solid #777;
    border-radius: 3px;
    padding: 5px 0px;
}
.product-details-page .number{
    width: 40px;
}
.product-details-page .add-cart-btn{
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 19px;
    transition: .3s;
    padding: 5px 0px;
    border: 0px;
    outline: none;
}
.product-details-page .add-wishlist-btn{
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 19px;
    transition: .3s;
    padding: 5px 0px;
    border: 0px;
    outline: none;
}
.product-details-page .add-wishlist-btn i{
    margin-right: 10px;
}
.product-details-page .add-cart-btn:hover, .product-details-page .add-wishlist-btn:hover{
    opacity: .8;
}
/* swiper */
.product-details-page .swiper {
    width: 100%;
    height: 100%;
  }
  
.product-details-page  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .product-details-page .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-details-page .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  