.account-page{
    padding-top: 150px;
    padding-bottom: 100px;
}
.account-page .container .row a{
    text-decoration: none;
}
.account-page .container .row .card{
    padding: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-page .container .row .card i{
    font-size: 25px;
}
.account-page .container .row .card span{
    font-size: 25px;
    margin-left: 20px;
}